.about {
  background-color: @dark-blue-grey;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 30px 30px;
}

@media (min-width: @tablet-width) {
  .about {
    position: relative;
    min-height: 600px;
    background-image: none;

    &::before {
      content: "";
      position: absolute;
      left: 40px;
      width: 688px;
      height: 213px;
      background-color: @dark-blue-grey-four;
      border-radius: 20px;
    }
  }

  .about__content {
    padding-left: 75px;
  }
}

@media (min-width: @desktop-width) {
  .about {
    min-height: 700px;
    margin-top: -30px;
    padding-top: 100px;

    &::before {
      width: 213px;
    }
  }

  .about__content {
    padding-left: 132px;
  }
}
