.about {
  min-height: 382px;
  background-color: @dark-two;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 30px 30px;
}

.about__content {
  margin-left: auto;
  margin-right: auto;
}
