.button {
  display: block;
  width: 270px;
  min-height: 50px;
  background-color: @light-gold;
  border-radius: 25px;
  text-transform: uppercase;
  line-height: 50px;
}

.button--square {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 62px;
  padding-left: 24px;
  border-radius: 10px;
  text-transform: none;
  line-height: 62px;
  text-align: left;
}

.button--user-card {
  width: 148px;
  min-height: 50px;
}

.button--route {
  border: 2px solid @dark-blue-grey;
}
