.contacts-menu {
  width: 270px;
  text-transform: uppercase;
}

.contacts-menu__item {
  line-height: 50px;
}

.contacts-menu__link {
  color: @dark-blue-grey;
}

.contacts-menu__link--yellow {
  color: @light-gold;
}

@media (min-width: @desktop-width) {
  .contacts-menu--header {
    display: flex;
    justify-content: space-around;
    width: 100px;
    font-size: 0;

    & .contacts-menu__item {
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }

    & .contacts-menu__item--phone {
      background-color: @mango;
      background-image: url("../img/topmenu-phone.svg");
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: center;
    }

    & .contacts-menu__item--email {
      background-color: @mango-two;
      background-image: url("../img/topmenu-mail.svg");
      background-size: 18px 14px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
