.contacts-menu {
  width: 270px;
  text-transform: uppercase;
}

.contacts-menu__item {
  line-height: 50px;
}

.contacts-menu__link {
  display: flex;
  align-items: center;
  color: @dark-blue-grey;
}

.contacts-menu__link-icon {
  width: 45px;
  height: 45px;
  margin-right: 24px;
  background-color: @dark-blue-grey-two;
  border-radius: 50%;
  fill: @light-gold;
  text-align: center;
}

.contacts-menu__icon {
  width: 18px;
  height: 18px;
}

.contacts-menu__link--yellow {
  color: @light-gold;
}

@media (min-width: @tablet-width) {
  .contacts-menu {
    width: auto;
  }

  .contacts-menu__link-icon {
    width: 67px;
    height: 67px;
    line-height: 75px;
  }

  .contacts-menu__icon {
    width: 27px;
    height: 27px;
  }
}


@media (min-width: @desktop-width) {
  .contacts-menu--header {
    display: none;
  }

  .contacts-menu--footer {
    display: flex;
  }
}
