.direction {
  background-color: @dark-blue-grey;
}

.direction__wrapper {
  background-color: @pale-grey;
  border-bottom: 1px solid @pale-grey;
  border-top: 1px solid @pale-grey;
  border-radius: 0 0 30px 30px;
}

.direction__content {
  position: relative;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.direction__country {
  position: relative;
  margin-top: 43px;
  margin-left: auto;
  margin-right: auto;
}

.direction__show-all {
  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .direction__wrapper {
    background-image: url("../img/flags-back@1x.png");
    background-size: 289px auto;
    background-repeat: no-repeat;
    background-position: top 81px right 40px;
    border-radius: 0 0 60px 60px;


    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/flags-back@2x.png");
    }
  }

  .direction__content {
    padding-right: 356px;
    padding-left: 73px;
  }

  .direction__content-title {
    margin-bottom: 30px;
  }

  .direction__country {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -38px;
      left: 38px;
      width: 141px;
      height: 141px;
      background-color: @pale-grey-four;
      border-radius: 20px;
      z-index: 1;
    }
  }

  .direction__show-all {
    min-width: 618px;
    min-height: 83px;
    margin-top: 45px;
    margin-bottom: 80px;
  }
}

@media (min-width: @desktop-width) {
  .direction__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 750px;
    padding-top: 83px;
    padding-left: 25px;
    padding-right: 60px;
    background-position: top 50px right 40px;
  }

  .direction__content {
    width: 350px;
    padding: 0;
  }

  .direction__country::after {
    top: -70px;
    left: -70px;
  }

  .direction__show-all {
    position: absolute;
    top: 528px;
    right: 210px;
    min-width: 274px;
    min-height: 81px;
    margin: 0;
  }
}
