.first-screen {
  display: flex;
  flex-direction: column;
  min-height: 874px;
  padding-left: 25px;
  padding-right: 25px;
  color: @white-four;
  background-color: @dark-two;
  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 313px, center top;
}

.first-screen__slogan--left {
  color: @white-four;
  text-align: left;
}

.first-screen__menu {
  margin-top: auto;
}

.first-screen__quote-wrap {
  min-height: 185px;
  margin-bottom: 95px;
  padding-left: 25px;
  padding-right: 95px;
}

.first-screen__quote {
  margin-top: 20px;
}

.first-screen__quote-author {
  margin-top: 20px;
}
