.header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin-top: 27px;
}

.header__nav-wrapper {
  display: flex;
  flex-direction: column;
}

.header__open {
  border: none;
  position: relative;
  cursor: pointer;
  background-color: transparent;
}

.header__open::before,
.header__open::after {
  content: "";

  position: absolute;
  top: 10px;
  right: -6px;

  width: 30px;
  height: 3px;

  background-color: @pinkish-grey;
}

.header__open::before {
  transform: rotate(45deg);
}

.header__open::after {
  transform: rotate(-45deg);
}

.header__nav {
  margin-top: 79px;
}

.header__login-wrapper {
  margin-top: 58px;
}

.header__login-link {
  margin-left: auto;
  margin-right: auto;
}

.header__contacts {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.header__social {
  margin-top: 60px;
  margin-bottom: 20px;
}
