.lead {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 60px;

  &--about-service {
    background-image: url("../img/about-mobile@1x.png");
    background-size: 292px auto;
    background-repeat: no-repeat;
    background-position: center top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/about-mobile@2x.png");
    }
  }
}

.lead__title {
  margin-top: 33px;
}

.lead__title--center {
  text-align: center;
}

.lead__base-text {
  margin-top: 23px;
}

.lead__additional-text {
  margin-top: 25px;
  margin-bottom: 70px;
}

.lead__line-break {
  display: none;
}

.lead__base-text--dark {
  color: #444444;
}

.lead__base-text--center {
  text-align: center;
}

.lead__base-text--link {
  color: @light-gold;
  text-decoration: underline;
}

.lead__show-details {
  display: none;
}

@media (min-width: @tablet-width) {
  .lead {
    &--about-service {
      padding-right: 391px;
      background-image: url("../img/about-tablet@1x.png");
      background-size: 376px auto;
      background-repeat: no-repeat;
      background-position: right center;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/about-tablet@2x.png");
      }
    }
  }

  .lead__additional-text {
    margin-bottom: 0;
  }

  .lead__line-break {
    display: inline;
  }

  .lead__show-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 274px;
    min-height: 81px;
    margin-top: 53px;
    margin-bottom: 88px;
  }
}

@media (min-width: @desktop-width) {
  .lead {
    &--about-service {
      padding-right: 700px;
      background-image: url("../img/about-desktop@1x.png");
      background-size: 630px auto;
      background-position: right 60px center;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/about-desktop@2x.png");
      }
    }
  }
}
