.lead {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 60px;
}

.lead__title {
  margin-top: 33px;
}

.lead__base-text {
  margin-top: 23px;
}

.lead__additional-text {
  margin-top: 25px;
  margin-bottom: 70px;
}

.lead__base-text--dark {
  color: #444444;
}

.lead__base-text--center {
  text-align: center;
}

.lead__base-text--link {
  color: @light-gold;
  text-decoration: underline;
}
