.login-input {
  display: flex;
  justify-content: space-between;
  width: 270px;
  height: 62px;
  border-radius: 10px;
  background-color: @white-four;
}

.login-input__email {
  height: 100%;
  width: 100%;
  size: 100%;
  padding-left: 24px;
  border: 1px solid @white-four;
  border-radius: 10px 0 0 10px;

  &:hover {
    background-color: @pale-grey;
  }

  &:focus {
    background-color: #000000;
    color: @white-four;
    border: none;
  }
}

.login-input__email::placeholder {
  .text-25;
}

.login-input__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75px;
  height: 62px;
  margin: 0;
  background-color: @light-gold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login-input__button-text {
  display: none;
}

@media (min-width: @tablet-width) {
  .login-input {
    width: 618px;
    min-height: 80px;
    border-radius: 20px;
  }

  .login-input__button {
    width: 95px;
    height: 80px;
  }
}

@media (min-width: @desktop-width) {
  .login-input {
    width: 100%;
  }

  .login-input__button {
    width: 429px;
    padding-left: 51px;
    background-position: center right 50px;
  }

  .login-input__button-text {
    display: inline;
  }
}
