.people {
  background-color: @pale-grey;
}

.people__wrapper {
  position: relative;
  background-color: @dark-blue-grey;
  border-top: 1px solid @dark-blue-grey;
  border-bottom: 1px solid @dark-blue-grey;
  border-radius: 0 0 30px 30px;
  background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-mobile@1x.png");
  background-size: 143px auto, 71px auto;
  background-repeat: no-repeat;
  background-position: 152px 39px, left 358px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/smolov-back-desktop@2x.png"), url("../img/rogovaya-back-mobile@2x.png");
  }

  &::before {
    content: "";
    position: absolute;
    top: 39px;
    width: 113px;
    height: 132px;
    background-color: @dark-blue-grey-four;
    border-radius: 0 20px 20px 0;
  }
}

.people__content {
  margin-top: 40px;
}

.people__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 42px;
  padding-left: 7.8%;
  padding-right: 7.8%;
}

.people__item {
  margin-top: 10px;
}

.people__show-all {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @tablet-width) {
  .people__wrapper {
    background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-desktop@1x.png");
    background-size: 143px auto, 285px auto;
    background-position: 40px 390px, 402px 39px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/smolov-back-desktop@2x.png"), url("../img/rogovaya-back-desktop@2x.png");
    }

    &::before {
      content: "";
      top: 39px;
      left: 40px;
      width: 213px;
      height: 213px;
      border-radius: 20px;
    }
  }

  .people__content {
    padding-right: 260px;
  }

  .people__list {
    padding-left: 9.8%;
    padding-right: 9.8%;
  }

  .people__show-all {
    min-width: 618px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media (min-width: @desktop-width) {
  .people__wrapper {
    padding-top: 100px;
    padding-left: 132px;
    padding-right: 60px;
    padding-bottom: 50px;
    background-position: 547px 133px, 191px 385px;

    &::before {
      content: "";
      top: 68px;
      left: 60px;
    }
  }

  .people__wrapper-without-button {
    display: flex;
    justify-content: space-between;
  }

  .people__content {
    width: 420px;
    margin: 0;
    padding: 0;
  }

  .people__list {
    width: 630px;
    padding: 0;
  }

  .people__item {
    margin: 0;
  }

  .people__show-all {
    position: relative;
    top: -63px;
    left: 50px;
    min-width: 280px;
    margin: 0;
  }
}
