.place-wrapper {
  display: flex;
  flex-direction: column;
  background-color: @light-gold;
  border-radius: 0 0 30px 30px;
}

.place-wrapper__place {
  width: 143px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.place-wrapper__route {
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}
