.place-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 7.8%;
  padding-right: 7.8%;
  background-color: @light-gold;
  border-radius: 0 0 30px 30px;
}

.place-wrapper__place {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-left: 0;
  margin-right: auto;
  text-transform: uppercase;
}

.place-wrapper__blue-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: @dark-blue-grey-two;
  border-radius: 50%;
}

.place-wrapper__icon {
  width: 14px;
  height: 22px;
  fill: @light-gold;
}

.place-wrapper__address {
  width: 143px;
  margin-left: 16px;
}

.place-wrapper__route {
  margin-top: 15px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @tablet-width) {
  .place-wrapper {
    border-radius: 0 0 60px 60px;
  }

  .place-wrapper__place {
    margin-top: 38px;
    margin-left: 16px;
  }

  .place-wrapper__icon {
    width: 21px;
    height: 31px;
  }

  .place-wrapper__blue-circle {
    width: 67px;
    height: 67px;
  }

  .place-wrapper__address {
    min-width: 440px;
    margin-left: 26px;
    text-align: center;
  }

  .place-wrapper__route {
    min-width: 618px;
    margin-bottom: 85px;
    margin-top: 36px;
    min-height: 80px;
  }
}

@media (min-width: @desktop-width) {
  .place-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px;
    padding-left: 20%;
    padding-right: 9.17%;
    padding-bottom: 60px;
  }

  .place-wrapper__place {
    min-height: 81px;
    margin: 0;
    padding: 0;
  }

  .place-wrapper__icon {
    width: 28px;
    height: 43px;
  }

  .place-wrapper__address {
    margin-left: 32px;
    text-align: center;
  }

  .place-wrapper__blue-circle {
    width: 90px;
    height: 90px;
  }


  .place-wrapper__route {
    min-width: 324px;
    min-height: 81px;
    margin: 0;
    margin-left: 136px;
  }
}
