.price {
  background-color: @dark-blue-grey;
}

.price__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 15.6%;
  padding-right: 7.8%;
  background-color: @pale-grey;
  border-radius: 0 0 30px 30px;
}

.price__list {
  margin-top: 40px;
}

.price__title-wrapper {
  width: 270px;
}

.price__title {
  position: relative;
  width: 110px;
  margin-top: 40px;
  margin-left: 10px;
}

.price__wrapper::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 7.8%;
  width: 99px;
  height: 99px;
  background-image: url("../img/rates@1x.png");
  background-size: 100%;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/rates@2x.png");
  }
}

.price__show-business {
  margin-top: 31px;
  margin-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @tablet-width) {
  .price__wrapper {
    padding-left: 5.2%;
    padding-right: 5.2%;

    &::after {
      top: 400px;
      right: 80px;
      z-index: 2;
    }

    .price__title-wrapper {
      width: auto;
    }

    .price__title {
      width: auto;
    }
  }

  .price__show-business {
    margin-top: 60px;
    margin-left: 130px;
    margin-bottom: 90px;
  }
}

@media (min-width: @desktop-width) {
  .price__wrapper {
    padding-top: 20px;
    padding-left: 132px;
    padding-right: 245px;

    &::after {
      width: 198px;
      height: 198px;
      top: 186px;
      right: 130px;
    }
  }
}
