.registration {
  background-color: @light-gold;
}

.registration__wrapper {
  display: flex;
  flex-direction: column;
  background-color: @dark-blue-grey;
  border-radius: 0 0 30px 30px;
}

.registration__content {
  margin-top: 40px;
}

.registration__form {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

.registration__text {
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

.registration__contacts {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .registration__text {
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .registration__wrapper {
    padding-left: 9.17%;
    padding-right: 9.17%;
  }
}
