.social-link {
  display: flex;
  justify-content: center;
}

.social-link__link {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-size: 18px 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.social-link__link--footer {
  background-color: @light-gold;
}

.social-link__link--fb {
  background-image: url("../img/facebook.svg");
}

.social-link__link--vk {
  background-image: url("../img/vk.svg");
}

.social-link__link--instagram {
  background-image: url("../img/instagram.svg");
}

@media (min-width: @tablet-width) {
  .social-link {
    justify-content: flex-start;
  }
}

@media (min-width: @desktop-width) {
  .social-link--header {
    display: none;
  }
}
