.transport {
  display: flex;
  justify-content: center;
}

.transport__item {
  width: 24px;
  height: 21px;
  margin-left: 5px;
  margin-right: 5px;
}

.transport__item--plane {
  background-image: url("../img/plane.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.transport__item--bus {
  background-image: url("../img/bus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.transport__item--bike {
  background-image: url("../img/bike.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.transport__item--on-foot {
  background-image: url("../img/run.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.transport__item--user-card {
  width: 33px;
  height: 33px;
  margin-left: 0;
  margin-right: 0;
  background-color: @pale-grey;
  background-size: auto 16px;
  border-radius: 50%;
}

@media (min-width: @tablet-width) {
  .transport--user-card {
    flex-direction: column;
  }

  .transport__item--user-card {
    background-color: transparent;
  }
}

@media (min-width: @desktop-width) {
  .transport--user-card {
    flex-direction: row;
  }
}
