.companions-main {
  background-color: @pale-grey-four;
}

.companions-main__title-wrapper {
  position: relative;
  min-height: 70px;
  background-color: @dark-two;
  border-top: 1px solid @dark-two;
  border-radius: 0 0 20px 20px;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 24px;
    display: block;
    width: 173px;
    height: 5px;
    background-color: @mango;
    border-radius: 2px;
  }
}

.companions-main__wrapper {
  display: flex;
  flex-direction: column;
}

.companions-main__title {
  position: relative;
  width: 270px;
  margin-top: 20px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.companions-main__return-wrapper {
  display: none;
}

.companions-main__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -7px;
}

.companions-main__item {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.companions-main__plus-icon {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}

.companions-main__show-more {
  min-width: 120px;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
}

.companions-main__show-link {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus * {
    opacity: 0.6;
  }

  &:active * {
    opacity: 0.3;
  }
}

.companions-main__nav {
  margin-top: 23px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 76px;
}

@media (min-width: @tablet-width) {
  .companions-main__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 160px;
    border-radius: 0 0 60px 60px;


    &::after {
      bottom: -4px;
      left: 74px;
      width: 287px;
      height: 8px;
    }
  }

  .companions-main__return-wrapper {
    display: flex;
    margin-right: 75px;
    margin-top: -37px;

    &:hover,
    &:focus {
      color: @white-60;
    }

    &:active .companions-main__return-text {
      color: @white-30;
    }

    &:hover,
    &:focus .companions-main__return-icon {
      opacity: 0.6;
    }

    &:active .companions-main__return-icon {
      opacity: 0.3;
    }
  }

  .companions-main__return-text {
    text-transform: uppercase;
  }

  .companions-main__return-icon {
    width: 32px;
    height: 16px;
    margin-left: 29px;
    fill: @white-four;
  }

  .companions-main__title {
    margin-left: 77px;
  }

  .companions-main__list {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .companions-main__item {
    margin-top: 40px;
  }

  .companions-main__nav {
    margin-top: 53px;
    margin-bottom: 90px;
  }

  .companions-main__show-more {
    margin-top: 44px;
  }
}

@media (min-width: @desktop-width) {
  .companions-main__title-wrapper {
    min-height: 252px;

    &::after {
      left: 126px;
    }
  }

  .companions-main__title {
    margin-top: 112px;
    margin-left: 126px;
  }

  .companions-main__return-wrapper {
    margin-right: 123px;
    margin-top: 52px;
  }

  .companions-main__wrapper {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 53px;
    padding-left: 50px;
  }

  .companions-main__item {
    margin-top: 32px;
  }

  .companions-main__nav {
    margin-top: 67px;
    margin-left: 59px;
    margin-bottom: 112px;
  }

  .companions-main__show-more {
    margin-top: 64px;
    margin-left: -440px;
  }
}
