.user-card {
  display: flex;
  flex-direction: column;
  width: 270px;
  min-height: 393px;
  background-color: @white-four;
  border-radius: 10px;
}

.user-card__header {
  display: flex;
  margin-top: 15px;
}

.user-card__image {
  margin-left: 18px;
}

.user-card__wrapper {
  margin-left: 16px;
}

.user-card__title {
  margin-top: 0;
  margin-bottom: 0;
  width: 130px;
}

.user-card__text {
  text-transform: uppercase;
}

.user-card__rating {
  margin-top: 10px;
  margin-bottom: 0;
}

.user-card__tags {
  margin-top: 16px;
  margin-left: 26px;
}

.user-card__transfer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 20px;
}

.user-card__level-text {
  margin-bottom: 5px;
}

.user-card__level-value {
  width: 45px;
  height: 45px;
  margin-top: 0;
  margin-bottom: 0;
  border: 2px solid @mango;
  border-radius: 50%;

  line-height: 45px;
}

.user-card__link {
  width: 230px;
  height: 40px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  line-height: 40px;
}
